@font-face {
    font-family: "BlenderPro-Bold";
    src: url("../../assets/fonts/BlenderPro-Bold.woff2");
    /* src: url("/fonts/BlenderPro-Bold.woff2"); */
  }
  
  @font-face {
    font-family: "BlenderPro-Book";
    src: url("../../assets/fonts/BlenderPro-Book.woff2");
    /* src: url("/fonts/BlenderPro-Book.woff2"); */
  }
  
  .control-btn {
    width: 6rem;
    height: 2.5rem;
    font-size: 1.25rem;
    /* gap: 1rem; */
    font-family: "BlenderPro-Bold";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 0 0.3rem;
  }
  
  .control-btn--next {
    background: linear-gradient(-45deg, transparent 6%, #4bff20 5%);
  }
  
  .control-btn--previous {
    background: linear-gradient(45deg, transparent 6%, #4bff20 5%);
  }
  
  .control-btn--disabled-next {
    background: linear-gradient(-45deg, transparent 6%, rgb(203, 203, 203) 5%);
  }
  
  .control-btn--disabled-previous {
    background: linear-gradient(45deg, transparent 6%, rgb(203, 203, 203) 5%);
  }
  
  .control-btn--next:hover {
    background-color: #00effe;
    background: linear-gradient(-45deg, transparent 6%, #00effe 5%);
  }

  /* ------------------------------------ */
  .control-btn--disabled-next:hover {
    background-color: #00effe;
    background: linear-gradient(-45deg, transparent 6%, #00effe 5%);
  }
  /* --------------------------------------------------- */
  
  .control-btn--previous:hover {
    background-color: #00effe;
    background: linear-gradient(45deg, transparent 6%, #00effe 5%);
  }
  
  @media (max-width: 319px) {
    .control-btn {
      width: 7.5rem;
    }
  }
  