@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

@font-face {
  font-family: "Sddystopiandemo";
  src: url("../../assets/fonts/Sddystopiandemo-GO7xa.otf");
  /* src: url("/fonts/BlenderPro-Bold.woff2"); */
}

.jatt{
  text-transform: uppercase;
  font-family: "Sddystopiandemo"; /* Fallback to sans-serif if Protest Riot fails to load */
  font-weight: 400;
  font-style: normal;
}