@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #b7c1de;
    --secondary-color: #ac61b9;
    --primary-bg: #092047;
    --secondary-bg: #0b468c;
    --tertiary-bg: #63345e;
    --primary-border-radius: 4px;
    --secondary-border-radius: 7px;
}

html {
    background-color: #092047;
    color: #b7c1de;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
}

body {
    font-family: Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    color: #b7c1de;
    overflow-x: hidden;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #7bb1bd rgba(0, 0, 0, 0.1);
}



.App,
.Main {
    min-height: 300vh;
}

::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.1);
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #7bb1bd;
    border-radius: 4px;
}

a {
    color: #7bb1bd;
    text-decoration: none;
    font-weight: bold;
}

.Flex {
    display: flex;
}

.FlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
