.date-release {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .date-release h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }
  
  .date-release__link-netflix {
    margin: 0 auto;
  }
  
  .date-release__link-netflix img {
    margin-top: 1rem;
    width: 133px;
  }
  
  .date-release__separator {
    object-fit: cover;
    margin-top: 2rem;
    width: 100%;
    height: 3.75rem;
  }
  
  @media (min-width: 425px) {
    .date-release h2 {
      font-size: 2.8rem;
    }
  
    .date-release__link-netflix img {
      width: 171px;
    }
  }
  
  @media (min-width: 768px) {
    .date-release__separator {
      margin-top: 1rem;
    }
  }
  
  @media (min-width: 2000px) {
    .date-release .date-release__separator {
      height: 80px;
    }
  }
  