@font-face {
	font-family: "BlenderPro-Bold";
	src: url("../../assets/fonts/BlenderPro-Bold.woff2");
  }
  
  @font-face {
	font-family: "BlenderPro-Book";
	src: url("../../assets/fonts/BlenderPro-Book.woff2");
  }
  .footer {
	font-family: "BlenderPro-Bold", sans-serif;
	/* Other styles here */
  }
  